<section class="section-five container-fluid">
  <h2>Proyectos</h2>
  <div class="vignette"></div>
  <div class="vignette-two"></div>
  <ul class="row fila-section-five">
    <li class="col-6 texto-proyectos">
      <ul>
        <li><h3>Página Web de Portafolio</h3></li>
        <li><p>Creación de mi portafolio como proyecto final de Argentina Programa #YoProgramo</p></li>
        <li><h5>Tecnologías usadas</h5></li>
        <li>
          <ul id="ul-tecnologias">
            <li>HTML & CSS</li>
              <li>Bootstrap</li>
              <li>Angular</li>
          </ul>
        </li>
        <li><p>Enero 2023</p></li>
      </ul>
    </li>
    <li class="col-5"><img src="/assets/paginaAP.JPG"  class="margen-imgs" alt=""></li>
  </ul>
  <!-- <div class="row fila-section-five">
      <div class="col-6 texto-proyectos">
          <h3>Página Web de Portafolio</h3>
          <p>Creación de mi portafolio como proyecto final de Argentina Programa #YoProgramo.</p>
          <h5>Tecnologías usadas</h5>
          <ul>
              <li>HTML & CSS</li>
              <li>Bootstrap</li>
              <li>Angular</li>
          </ul>
          <p>Enero 2023</p>
      </div>
      <div class="col-5">
          <img src="/assets/paginaAP.JPG"  class="margen-imgs" alt="">
      </div>
  </div>
  <div class="row fila-section-five">
      <div class="col-6 texto-proyectos">
          <a  class="links-section-five" href="https://one.newrelic.com/dashboards/detail/MzU2NTE3MXxWSVp8REFTSEJPQVJEfGRhOjE2NDM1MzY?account=3565171&tv-mode&state=c620a420-1f50-a408-a76b-84e60a2158f1"><h3>Food Me New Relic Dashboard</h3></a>
          <p>Proyecto de Observabilidad de páginas web con New Relic. Creación de dashboard con métricas respecto a una página web de un restaurant.</p>
          <h5>Tecnologías usadas</h5>
          <ul>
              <li>New Relic</li>
          </ul>
          <p>Julio 2022</p>
      </div>
      <div class="col-5">
          <a href="https://one.newrelic.com/dashboards/detail/MzU2NTE3MXxWSVp8REFTSEJPQVJEfGRhOjE2NDM1MzY?account=3565171&tv-mode&state=c620a420-1f50-a408-a76b-84e60a2158f1"><img src="/assets/dashboardNewRelic.JPG"  class="margen-imgs" alt=""></a>
      </div>
  </div>
  <div class="row fila-section-five">
      <div class="col-6 texto-proyectos">
          <h3>SK Libros Página Web de Librería</h3>
          <p>Proyecto final en grupo para el curso de programación web full stack de Digital House.</p>
          <h5>Tecnologías usadas</h5>
          <ul>
              <li>JavaScript</li>
              <li>NodeJS</li>
              <li>ExpressJs</li>
              <li>MySQL</li>
              <li>EJS</li>
              <li>CSS</li>
          </ul>
          <p>Enero 2022</p>
      </div>
      <div class="col-5">
          <img src="/assets/paginaSK.JPG"  class="margen-imgs" alt="">
      </div>
  </div> -->
</section>
