<section class="section-five container-fluid">
  <h2>Proyectos</h2>
  <div class="vignette"></div>
  <div class="vignette-two"></div>
  <div *ngFor="let proyecto of proyectos" class="row fila-section-five">
      <div class="col-6 texto-proyectos">
          <h3>{{proyecto.titulo}}</h3>
          <p>{{proyecto.descripcion}}</p>
          <h5>Tecnologías usadas</h5>
          <p>{{proyecto.tecnologias}}</p>
          <p>{{proyecto.fecha}}</p>
      </div>
      <div class="col-5">
          <img [src]="proyecto.img"  class="margen-imgs" alt="">
      </div>
  </div>
</section>
