<section class="section-three container-fluid">
  <h2>Educación</h2>
  <div class="vignette"></div>
  <div class="vignette-two"></div>
  <div class="row fila-section-three">
    <div class="col-5">
      <img src="/assets/logoDigitalHouse.png" class="margen-imgs" alt="" />
    </div>
    <div class="col-6">
      <h3>Programadora Web Full Stack</h3>
      <ul>
        <li>Digital House</li>
        <li>2021- 2022</li>
      </ul>
    </div>
  </div>
  <div class="row fila-section-three">
    <div class="col-5">
      <img src="/assets/logoPiazzolla.png" class="margen-imgs" alt="" />
    </div>
    <div class="col-6">
      <h3>Técnico en Música Especialidad en Instrumento Viola</h3>
      <ul>
        <li>Conservatorio Superior de Música Ástor Piazzolla</li>
        <li>2018- En Curso</li>
      </ul>
    </div>
  </div>
  <div class="row fila-section-three">
    <div class="col-5">
      <img src="/assets/logoJuanMontalvo.jpg" class="margen-imgs" alt="" />
    </div>
    <div class="col-6">
      <h3>Bachiller en Economía y Administración</h3>
      <ul>
        <li>Liceo Juan Montalvo</li>
        <li>2018-2020</li>
      </ul>
    </div>
  </div>
</section>
